.grid {
  margin: 1rem;
  border: 2px solid gray;
}

.rows {
  display: flex;
  flex-direction: row;
}

.boxes {
  min-width: 1rem;
  min-height: 1rem;
  border: 1px solid black;
  background: white;
}

.alive {
}
