.giForm {
  display: block;
  margin: 0.5rem;
}
.gText {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.gInput {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
  text-align: center;
  height: 1.5rem;
}
.gInput:focus {
  background-color: #f7f1d5;
}
.gButton {
  background: #3d94f6;
  border: 1px solid #337fed;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  text-shadow: 0px 1px 0px #1570cd;
  margin-right: 0.5rem;
  height: 1.6rem;
}
.pText {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1.5rem;
}
.pForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
p {
  margin: 0rem;
}
.pSections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.pCategory {
  font-style: italic;
  text-decoration: underline;
  margin-right: 1rem;
}

.picon {
  display: flex;
  flex-direction: column;
}
.pButton {
  background: #3d94f6;
  border: 1px solid #337fed;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  text-shadow: 0px 1px 0px #1570cd;
  margin-top: 0.5rem;
  height: 1.6rem;
}
